on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with: 
          node-version: 16

      - name: Build
        run: npm ci

      - name: deploy
        run: cd dist && git init && git checkout -B main && git add -A && git commit -m "deploy" && git push -f git@github.com:marcelsby/${{ github.repository }}.git main:gh-pages
      